<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>About TODO Task</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div>
    <h1>Made with <ion-icon name="heart" style="color: red;"></ion-icon></h1>
    <p>By</p>
    <h2>Akhilesh Srivastava</h2>
    <p><ion-icon name="mail-outline"></ion-icon> &nbsp; <a href="mailto:akhil110@gmail.com">akhil110@gmail.com</a></p>
    <p><ion-icon name="logo-github"></ion-icon> &nbsp; <a href="github.com/akhil110" _target="blank">github.com/akhil110</a></p>
  </div>
  
</ion-content>
